* {
    /* border: 1px solid red; */
    border-color: transparent;
}

/* Add fonts */
@font-face {
    font-family: "MuliRegular";
    src: url(../assets/fonts/Muli-Regular.woff) format("woff");
    font-style: normal;
}

@font-face {
    font-family: "MuliBold";
    src: url(../assets/fonts/Muli-Bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: "MuliBoldItalic";
    src: url(../assets/fonts/Muli-BoldItalic.ttf);
    font-style: normal;
}

@font-face {
    font-family: "MuliExtraBold";
    src: url(../assets/fonts/Muli-ExtraBold.woff);
    font-style: normal;
}

@font-face {
    font-family: "MuliItalic";
    src: url(../assets/fonts/Muli-Italic.ttf);
    font-style: normal;
}

@font-face {
    font-family: "MuliSemiBoldItalic";
    src: url(../assets/fonts/Muli-Semi-BoldItalic.ttf);
    font-style: normal;
}

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "MuliRegular", sans-serif;
    margin: 0;
    height: 100vh;
    line-height: 1.1;
}


/* Для всех одинаковые стили: тегам */
li {
    list-style: none;
    text-decoration: none;
    font-family: "MuliBold", sans-serif;
}

a {
    display: inline-block;
    text-decoration: none;
}

.btn {
    background-color: #0aa566;
    border-radius: 30px;
}

/* Далее по разметке */
/* 1.HEADER */
.header {
    height: 1080px;
    width: 100%;
    background: url(../assets/images/header-bg-img.png);
    background-position: center;
    background-size: cover;
    overflow: auto;
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 68px 0 104px 0;
}

.header__nav {
    margin-right: 30px;
}

.nav__list {
    display: flex;
    column-gap: 34px;
    justify-content: space-between;
}

.nav__list-link {
    font-family: "MuliBold";
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}

.header__logo {
    margin-right: 160px;
}

.header__right-block {
    display: flex;
    column-gap: 130px;
    align-items: center;
}

.header__personal {
    position: relative;
    margin-right: 6px;
}

.header__personal::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 50px;
    background-color: #ffd68f;
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(50%);
}

.personal__list {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.personal__link:last-child {
    position: relative;
    margin-right: 0px;
}

.personal__cart-count {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 10px;
    color: #000;
    position: absolute;
    top: -40%;
    right: -65%;
}

.social__list {
    display: flex;
    column-gap: 10px;
}

.social__list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    min-width: 35px;
    max-width: 35px;
    background-color: white;
    border-radius: 50%;
}

.header__content {
    display: flex;
    justify-content: center;
}

.header__btn {
    width: 280px;
    height: 70px;
}

.btn {
    border-radius: 35px;
    font-size: 24px;
    font-family: "MuliExtraBold", sans-serif;
    color: white;
    text-align: start;
    padding-left: 36px;
}

.btn--green-bg {
    position: relative;
}

.btn--green-bg:hover {
    background-color: #31614f;
    color: white;
    cursor: pointer;
}

.btn--green-bg::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 30px;
    background-image: url("../assets/images/header-btn-arrow-yellow.png");
    background-size: cover;
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
}

.btn--green-bg:hover::after {
    right: 20px;
}

/* 2.SMOOTHIES */
.smoothies {
    height: 880px;
}

.smoothies__article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article__title {
    font-family: "MuliExtraBold";
    font-size: 50px;
    line-height: 0.8;
    letter-spacing: -1px;
    font-weight: 800;
    color: #f7ae3b;
    margin: 98px 0 0 0;
    padding-left: 14px;
}

.article__text {
    max-width: 915px;
    margin: 40px 10px 40px 24px;
    font-family: "MuliRegular";
    font-size: 18px;
    line-height: 1.94;
    text-align: center;
    color: #1e1e1e;
}

.smoothies__table {
    display: flex;
    justify-content: center;
}

.table__list {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

.table__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border-left: 2px solid #f6edde;
}

.table__list-item:first-child,
.table__list-item:nth-child(2),
.table__list-item:nth-child(3),
.table__list-item:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.table__list-item:first-child,
.table__list-item:nth-child(5) {
    border-left: none;
}

.table__list-img {
    padding-top: 40px;
}

.table__list-span {
    font-family: "MuliExtraBold";
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #f2612d;
    padding: 30px 0 40px;
}

/* 3.ABOUT */
.about {
    background-color: #14826f;
    height: 800px;
    display: flex;
    justify-content: center;
}

.about__container {
    display: flex;
    justify-content: flex-end;
    border: solid 1px #1e1e1e;
    width: 1600px;
    height: 740px;
    margin: 55px 0 5px;
    padding-right: 96px;
    z-index: 999;
}

.about__inner-info {
    padding-top: 25px;
    position: relative;
}

.about__inner-info::before {
    content: "";
    display: inline-block;
    width: 690px;
    height: 820px;
    background-image: url(../assets/images/about-Img.png);
    background-size: cover;
    position: absolute;
    top: 0;
    left: -830px;
}

.info__title {
    font-family: "MuliExtraBold";
    font-size: 55px;
    line-height: 60px;
    line-height: 1.09;
    letter-spacing: -1.1px;
    color: white;
    width: 680px;
}

.info__title--span {
    color: #cae941;
    position: relative;
}

.info__title--span::after {
    content: "";
    display: inline-block;
    width: 450px;
    height: 13px;
    background-image: url(../assets/images/about-line.png);
    background-size: cover;
    position: absolute;
    top: 60px;
    left: -15px;
}

.info__list {
    padding: 58px 0 35px 14px;
}

.info__list-item {
    font-family: "MuliBlack";
    font-size: 21px;
    line-height: 22px;
    line-height: 1.05;
    color: white;
    padding: 0 25px 20px;
    list-style-image: url(../assets/images/about-marker1.png);
}

.info__list-item--span {
    font-family: "MuliExtraBold";
}

.info-btn {
    width: 380px;
    height: 60px;
    font-family: "MuliExtraBold";
    font-size: 21px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.05;
}

.btn--green-trp {
    background-color: #14826f;
    border-radius: 30px;
    border: solid 2px #f8b231;
    padding: 0 27px;
}

.info__btn-arrow {
    padding-left: 22px;
}

/* 4.PRODUCTS */
.products {
    height: 720px;
    display: flex;
    justify-content: space-between;
}

.products__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
}

.products__item--bg-brown {
    background-color: #632b17;
}

.products__item--bg-green {
    background-color: #178670;
}

.products__item--bg-yellow {
    background-color: #f7ae3b;
}

.products__item--bg-orange {
    background-color: #c3471b;
}

.products__img {
    padding: 130px 0 28px;
}

.products__title {
    font-family: "MuliBold";
    font-size: 24px;
    line-height: 0.92;
    color: white;
    text-align: center;
}

.products__text {
    font-family: "MuliItalic";
    font-size: 21px;
    color: white;
    text-align: center;
    line-height: 1.52;
    padding: 7px 0 60px;
}

.products__btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 204px;
    height: 60px;
    background-color: transparent;
    border-radius: 30px;
    border: solid 2px white;
    padding: 0 3px;
}

/* 5.STORY */
.story {
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 42px;
}

.story__container {
    max-width: 1300px;
    height: 600px;
    display: flex;
    align-items: center;
    gap: 198px;
}

.story__info {
    max-width: 520px;
}

.story__title {
    font-family: "MuliExtraBold";
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    letter-spacing: -1px;
    text-align: left;
    color: #f7ae3b;
}

.story__text {
    font-family: "MuliRegular";
    font-size: 18px;
    line-height: 2;
    text-align: left;
    color: #1e1e1e;
    padding: 34px 0 44px;
}

.story__inner-img {
    width: 585px;
    height: 600px;
    position: relative;
}

.story__img {
    height: 100%;
    width: auto;
}

.story__inner-img::before {
    content: "";
    display: inline-block;
    width: 290px;
    height: 216px;
    background-image: url("../assets/images/story-stamp-img.png");
    background-size: cover;
    position: absolute;
    top: 22px;
    left: -160px;
}

.story__btn {
    display: flex;
    align-items: center;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    font-size: 21px;
    font-family: "MuliExtraBold";
    padding-left: 30px;
}

.story__btn-arrow {
    padding-left: 50px;
}

/* 6.TESTIMONIALS */
.testimonials {
    height: 720px;
    background-color: #672f1b;
    position: relative;
}

.testimonials::after {
    content: "";
    display: inline-block;
    width: 410px;
    height: 300px;
    background-image: url("../assets/images/testimonials-dots-ing.png");
    background-size: cover;
    position: absolute;
    top: -80px;
    right: 30px;
}

.testimonials__title {
    font-family: MuliExtraBold;
    font-size: 50px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    letter-spacing: -1px;
    text-align: center;
    color: #f7ae3b;
    padding: 118px 0;
}

.testimonials__title--span {
    color: #f2612d;
}

.testimonials__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 140px;
    position: relative;
}

.testimonials__inner-text {
    width: 460px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.testimonials__text {
    font-family: "MuliRegular";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 1.94;
    letter-spacing: normal;
    color: white;
    text-align: center;
}

.testimonials__cite {
    font-weight: 600;
    font-style: "MuliSemiBoldItalic";
    line-height: 2.5;
    color: #f7ae3b;
    display: inline-block;
    padding-top: 10px;
}

.testimonials__img,
.testimonials__text,
.testimonials__cite {
    z-index: 1;
}


.testimonials__wrapper::before {
    position: absolute;
    display: inline-block;
    content: "";
    background-image: url("../assets/images/testimonials-sarah.png");
    background-size: cover;
    width: 764px;
    height: 148px;
    top: -30px;
    left: 440px;
}

.testimonials__inner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    gap: 98px;
}

.testimonials__btn {
    background-color: #672f1b;
}

/* 7.BLOG */
.blog {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__container {
    height: 500px;
    max-width: 1200px;
}

.blog__title {
    font-family: "MuliExtraBold";
    font-size: 50px;
    font-weight: 800;
    line-height: 0.8;
    letter-spacing: -5px;
    color: #f7ae3b;
    padding-bottom: 56px;
}

.blog__wrapper {
    display: flex;
    padding-right: 45px;
}

.blog__info {
    position: relative;
    padding-left: 65px;
}

.blog__info::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 15px;
    width: 700px;
    background-image: url("../assets/images/blog-line-img.png");
    background-size: cover;
    top: 70px;
    right: -48px;
    border-radius: 10px;
    z-index: -1;
}

.blog__info-title {
    font-family: "MuliExtraBold";
    font-size: 30px;
    font-weight: 800;
    line-height: 1.33;
    letter-spacing: -4px;
    color: #f2612d;
    padding-top: 124px;
}

.blog__info-data {
    font-family: "MuliRegular";
    font-size: 16px;
    line-height: 2.19;
    text-align: left;
    color: #1e1e1e;
}

.blog__info-text {
    font-family: "MuliRegular";
    font-size: 18px;
    line-height: 1.94;
    color: #1e1e1e;
    padding-left: 60px;
    padding-top: 25px;
    width: 532px;
}

.blog__info-span {
    font-weight: 800;
    letter-spacing: -1px;
}

.blog__link-arrow {
    position: relative;
}

.blog__link-arrow::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 10px;
    width: 18px;
    background-image: url("../assets/images/blog-arrow-yellow-small.png");
    background-size: cover;
    top: -35px;
    right: -380px;
}

/* 8.INSTAGRAM */

.instagram {
    height: 560px;
    width: 100%;
}

.instagram__social {
    display: flex;
    justify-content: center;
    padding: 100px 0 45px;
}

.instagram__social-link {
    font-family: "MuliExtraBold";
    font-size: 24px;
    font-weight: 800;
    line-height: 1.67;
    letter-spacing: -0.48px;
    text-align: left;
    color: #0aa566;
    position: relative;
}

.instagram__social-link::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 26px;
    width: 26px;
    background-image: url("../assets/images/instagram-logo.png");
    background-size: cover;
    top: 8px;
    right: 190px;
}

.instagram__inner-img {
    display: flex;
    flex-basis: 20%;
    padding-bottom: 10px;
}

.instagram__img {
    overflow-x: hidden;
    ;
}

/* 9.FOOTER */
.footer__top {
    height: 372px;
    background-color: #f6ab3b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
}

.footer__title {
    font-family: "MuliExtraBold";
    font-size: 26px;
    font-weight: 800;
    color: white;
    padding-bottom: 36px;
}

.footer__information {
    padding-left: 140px;
    padding-bottom: 15px;
}

.footer__information-link {
    font-family: "MuliBold";
    font-size: 18px;
    font-weight: bold;
    line-height: 1.94;
    letter-spacing: -2px;
    text-align: left;
    color: #6d450c;
}

.footer__payment {
    width: 260px;
}

.footer__payment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
}

.footer__subscribe {
    width: 495px;
    height: 60px;
    border-radius: 30px;
    font-family: "MuliBold";
    font-size: 17px;
    font-weight: bold;
    color: #6d450c;
    background-image: url(../assets/images/footer-Icon-email.png);
    background-repeat: no-repeat;
    background-position: 5%;
    text-align: left;
    padding-left: 62px;
}

.footer__social-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding-right: 54px;
    height: 90px;
}

.footer__social-span {
    position: relative;
    font-family: "MuliExtraBold";
    font-size: 18px;
    text-transform: uppercase;
    color: #6d450c;
}

.footer__social-span::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 43px;
    width: 48px;
    background-image: url("../assets/images/footer-arrow-img.png");
    background-size: cover;
    top: -20px;
    right: 125px;
}

.footer__social-items {
    height: 26px;
    width: 110px;
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    height: 60px;
    background-color: #6c2c1c;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 660px;
}

.footer__copyright-text {
    font-family: "MuliRegular";
    font-size: 13px;
    line-height: 3;
    color: #af8a82;
}

.footer__copyright-span {
    font-family: "MuliBold";
    font-size: 16px;
    font-weight: bold;
    line-height: 3;
    color: white;
    padding: 0 156px 0 6px;
    position: relative;
}

.footer__btn {
    height: 50px;
    width: 50px;
    background-color: #f2662f;
    position: fixed;
    bottom: 14px;
    right: 80px;
    border-radius: 5px;
    z-index: 999;
}

.footer__btn-arrow-top {
    background-size: cover;
    width: 20%;
}