/* Add fonts */
@font-face {
    font-family: "MuliRegular";
    src: url(../assets/fonts/Muli-Regular.woff) format("woff");
    font-style: normal;
}

@font-face {
    font-family: "MuliBold";
    src: url(../assets/fonts/Muli-Bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: "MuliBoldItalic";
    src: url(../assets/fonts/Muli-BoldItalic.ttf);
    font-style: normal;
}

@font-face {
    font-family: "MuliExtraBold";
    src: url(../assets/fonts/Muli-ExtraBold.woff);
    font-style: normal;
}

@font-face {
    font-family: "MuliItalic";
    src: url(../assets/fonts/Muli-Italic.ttf);
    font-style: normal;
}

@font-face {
    font-family: "MuliSemiBoldItalic";
    src: url(../assets/fonts/Muli-SemiBoldItalic.ttf);
    font-style: normal;
}

/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-color: transparent;
}

html,
body {
    font-family: "MuliRegular", sans-serif;
    font-size: 10px;
    line-height: 1.1;
    margin: 0;
    height: 100vh;
}

li {
    list-style: none;
    text-decoration: none;
    font-family: "MuliBold", sans-serif;
}

a,
button {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: transparent;
    border: none;
}

image {
    width: 100%;
    object-fit: cover;
}

.btn {
    background-color: #0aa566;
    border-radius: 30px;
}

/* 1.HEADER */
.header {
    height: 1080px;
    width: 100%;
    background: url(../assets/images/header-bg-img.png);
    background-position: center;
    background-size: cover;
    overflow: auto;
    position: relative;
}

.header__top {
    padding: 84px 100px 126px 100px;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    column-gap: 34px;
    justify-content: space-between;
}

.nav__list a {
    font-size: 1.6rem;
    text-transform: uppercase;
}

.header__right-block {
    width: 420px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__personal {
    position: relative;
}

.header__personal::after {
    content: "";
    display: inline-block;
    height: 2px;
    width: 50px;
    background-color: #ffd68f;
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(50%);
}

.personal__list {
    display: flex;
    align-items: center;
    column-gap: 45px;
}

.personal__link:last-child {
    position: relative;
    margin-right: 0px;
}

.personal__cart-count {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    font-size: 1rem;
    color: #000;
    position: absolute;
    top: -40%;
    right: -65%;
}

.social__list {
    display: flex;
    column-gap: 10px;
}

.social__list a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    min-width: 35px;
    max-width: 35px;
    background-color: white;
    border-radius: 50%;
}

.header__logo {
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.header__burger-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    display: none;
}

.header__burger-btn-icon {
    width: 40px;
}

.header__content {
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 35px;
    font-size: 2.4rem;
    font-family: "MuliExtraBold", sans-serif;
    color: white;
    text-align: start;
    padding-left: 36px;
}

.btn--green-bg {
    position: relative;
}

.header__btn {
    width: 280px;
    height: 70px;
}


.btn--green-bg:hover {
    background-color: #31614f;
    color: white;
    cursor: pointer;
}

.btn--green-bg::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 16px;
    width: 30px;
    background-image: url("../assets/images/header-btn-arrow-yellow.png");
    background-size: cover;
    top: 50%;
    right: 38px;
    transform: translateY(-50%);
}

.btn--green-bg:hover::after {
    right: 20px;
}

/* 2.SMOOTHIES */
.smoothies {
    height: 880px;
}

.smoothies__article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: "MuliExtraBold";
    font-size: 5rem;
    color: #f7ae3b;
    font-weight: 800;
}

.article__title {
    line-height: 0.8;
    letter-spacing: -1px;
    margin: 98px 0 0;
    padding-left: 14px;
    text-align: center;
}

.text {
    font-family: "MuliRegular";
    font-size: 1.8rem;
}

.article__text {
    max-width: 915px;
    margin: 40px 10px 40px 24px;
    line-height: 1.94;
    text-align: center;
    color: #1e1e1e;
}

.smoothies__table {
    display: flex;
    justify-content: center;
}

.table__list {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
}

.table__list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 200px;
    border-left: 2px solid #f6edde;
}

.table__list-item:first-child,
.table__list-item:nth-child(2),
.table__list-item:nth-child(3),
.table__list-item:nth-child(4) {
    border-bottom: 2px solid #f6edde;
}

.table__list-item:first-child,
.table__list-item:nth-child(5) {
    border-left: none;
}

.table__list-img {
    padding-top: 40px;
}

.table__list-span {
    font-family: "MuliExtraBold";
    font-size: 2.5rem;
    line-height: 30px;
    text-align: center;
    color: #f2612d;
    padding: 30px 0 40px;
}

/* 3.ABOUT */
.about {
    background-color: #14826f;
    display: flex;
    justify-content: left;
    gap: 142px;
}

.about__box-image {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    max-height: 826px;
}

.about__img {
    padding-left: 140px;
    padding-top: 90px;

}

.about__box-list {
    margin-top: 100px;
    margin-bottom: 50px;
}

.title--white {
    font-size: 5.5rem;
    line-height: 60px;
    line-height: 1.09;
    letter-spacing: -1.1px;
    color: white;
    width: 620px;
    padding-bottom: 68px;
}

.title--yellow {
    color: #cae941;
    position: relative;
}

.title--yellow::after {
    content: "";
    display: inline-block;
    width: 450px;
    height: 13px;
    background-image: url(../assets/images/about-line.png);
    background-size: cover;
    position: absolute;
    top: 100%;
    left: -17px;
}

.about__list-item {
    font-family: "MuliBlack";
    font-size: 2.1rem;
    line-height: 1.05;
    color: white;
    padding: 0 0 20px;
    list-style-image: url(../assets/images/about-marker1.png);
    margin-left: 30px;
    padding-left: 20px;
}

.text--bold {
    font-family: "MuliExtraBold";
}

.about__btn {
    width: 380px;
    height: 60px;
    font-size: 2.1rem;
    font-weight: 800;
    line-height: 1.05;
    background-color: transparent;
    border: solid 2px #f8b231;
    padding-left: 25px;
    position: relative;
}

.about__btn::after {
    display: inline-block;
    content: "";
    background-image: url(../assets/images/about-btn-arrow-yellow.png);
    background-size: cover;
    width: 30px;
    height: 16px;
    position: absolute;
    top: 30%;
    right: 30px;
    transform: translateY(30%);
}

/* 4.PRODUCTS */
.products {
    height: 720px;
    display: flex;
    justify-content: space-between;
}

.products__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 25%;
}

.products__item--bg-brown {
    background-color: #632b17;
}

.products__item--bg-green {
    background-color: #178670;
}

.products__item--bg-yellow {
    background-color: #f7ae3b;
}

.products__item--bg-orange {
    background-color: #c3471b;
}

.products__img {
    padding: 130px 0 28px;
}

.products__title {
    font-family: "MuliBold";
    font-size: 2.4rem;
    line-height: 0.92;
    color: white;
    text-align: center;
}

.products__text {
    font-family: "MuliItalic";
    font-size: 2.1rem;
    color: white;
    text-align: center;
    line-height: 1.52;
    padding: 7px 0 60px;
}

.products__btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 204px;
    height: 60px;
    background-color: transparent;
    border-radius: 30px;
    border: solid 2px white;
    padding: 0 3px;
}

/* 5.STORY */
.story {
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 42px;
}

.story__container {
    max-width: 1300px;
    height: 600px;
    display: flex;
    align-items: center;
    gap: 198px;
}

.story__info {
    max-width: 520px;
}

.story__title {
    letter-spacing: -1px;
    text-align: left;
}

.story__text {
    font-size: 1.8rem;
    line-height: 2;
    text-align: left;
    color: #1e1e1e;
    padding: 34px 0 44px;
}

.story__inner-img {
    width: 585px;
    height: 600px;
    position: relative;
}

.story__img {
    height: 100%;
    width: auto;
}

.story__inner-img::before {
    content: "";
    display: inline-block;
    width: 290px;
    height: 216px;
    background-image: url("../assets/images/story-stamp-img.png");
    background-size: cover;
    position: absolute;
    top: 22px;
    left: -160px;
}

.story__btn {
    display: flex;
    align-items: center;
    width: 300px;
    height: 60px;
    border-radius: 30px;
    font-size: 2.1rem;
    padding-left: 30px;
}

.story__btn-arrow {
    padding-left: 50px;
}

/* 6.TESTIMONIALS */
.testimonials {
    height: 720px;
    background-color: #672f1b;
    position: relative;
}

.testimonials::after {
    content: "";
    display: inline-block;
    width: 410px;
    height: 300px;
    background-image: url("../assets/images/testimonials-dots-ing.png");
    background-size: cover;
    position: absolute;
    top: -80px;
    right: 30px;
}

.testimonials__title {
    line-height: 0.8;
    letter-spacing: -1px;
    text-align: center;
    padding: 118px 0;
}

.testimonials__title--span {
    color: #f2612d;
}

.testimonials__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 140px;
    position: relative;
}

.testimonials__inner-text {
    width: 460px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
}

.testimonials__text {
    font-size: 1.8rem;
    line-height: 1.94;
    color: white;
    text-align: center;
}

.testimonials__cite {
    font-weight: 600;
    line-height: 2.5;
    color: #f7ae3b;
    display: inline-block;
    padding-top: 10px;
}

.testimonials__img,
.testimonials__text,
.testimonials__cite {
    z-index: 1;
}


.testimonials__wrapper::before {
    position: absolute;
    display: inline-block;
    content: "";
    background-image: url("../assets/images/testimonials-sarah.png");
    background-size: cover;
    width: 764px;
    height: 148px;
    top: -30px;
    left: 440px;
}

.testimonials__inner-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0;
    gap: 98px;
}

.testimonials__btn {
    background-color: #672f1b;
}

/* 7.BLOG */
.blog {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog__container {
    height: 500px;
    max-width: 1200px;
}

.blog__title {
    line-height: 0.8;
    letter-spacing: -5px;
    padding-bottom: 56px;
}

.blog__wrapper {
    display: flex;
    padding-right: 45px;
}

.blog__info {
    position: relative;
    padding-left: 65px;
}

.blog__info::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 15px;
    width: 700px;
    background-image: url("../assets/images/blog-line-img.png");
    background-size: cover;
    top: 70px;
    right: -48px;
    border-radius: 10px;
    z-index: -1;
}

.blog__info-title {
    font-size: 3rem;
    line-height: 1.33;
    letter-spacing: -4px;
    color: #f2612d;
    padding-top: 124px;
}

.blog__info-data {
    font-size: 1.6rem;
    line-height: 2.19;
    text-align: left;
    color: #1e1e1e;
}

.blog__info-text {
    font-size: 1.8rem;
    line-height: 1.94;
    color: #1e1e1e;
    padding-left: 60px;
    padding-top: 25px;
    width: 532px;
}

.blog__info-strong {
    font-weight: 800;
    letter-spacing: -1px;
}

.blog__link-arrow img {
    height: 10px;
    width: 18px;
    margin: 0 20px;
}

/* 8.INSTAGRAM */
.instagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}

.instagram__social {
    display: flex;
    justify-content: center;
    padding: 100px 0 45px;
}

.instagram__social-link {
    font-family: "MuliExtraBold";
    font-size: 2.4rem;
    font-weight: 800;
    line-height: 1.67;
    letter-spacing: -0.48px;
    text-align: left;
    color: #0aa566;
    position: relative;
}

.instagram__social-link::after {
    content: "";
    display: inline-block;
    position: absolute;
    height: 26px;
    width: 26px;
    background-image: url("../assets/images/instagram-logo.png");
    background-size: cover;
    top: 8px;
    right: 190px;
}

.instagram__gallery {
    display: flex;
    justify-content: space-between;
}

.instagram__img-inner {
    position: relative;
    flex: 0 1 20%;
    object-fit: cover;
}

.instagram__img {
    width: 100%;
    height: 100%;
}

/* 9.FOOTER */
.footer__top {
    height: 372px;
    background-color: #f6ab3b;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 30px;
}

.footer__title {
    font-size: 26px;
    color: white;
    padding-bottom: 36px;
}

.footer__information {
    padding-left: 140px;
    padding-bottom: 15px;
}

.footer__information-link {
    font-family: "MuliBold";
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.94;
    letter-spacing: -2px;
    text-align: left;
    color: #6d450c;
}

.footer__payment {
    width: 260px;
}

.footer__payment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding-top: 10px;
}

.footer__subscribe {
    width: 495px;
    height: 60px;
    border-radius: 30px;
    font-family: "MuliBold";
    font-size: 1.7rem;
    font-weight: bold;
    color: #6d450c;
    background-image: url(../assets/images/footer-Icon-email.png);
    background-repeat: no-repeat;
    background-position: 5%;
    text-align: left;
    padding-left: 62px;
}

.footer__social-wrap {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 40px;
    padding-right: 54px;
    height: 90px;
}

.footer__social-span {
    position: relative;
    font-family: "MuliExtraBold";
    font-size: 1.8rem;
    text-transform: uppercase;
    color: #6d450c;
}

.footer__social-span::before {
    content: "";
    display: inline-block;
    position: absolute;
    height: 43px;
    width: 48px;
    background-image: url("../assets/images/footer-arrow-img.png");
    background-size: cover;
    top: -20px;
    right: 125px;
}

.footer__social-items {
    height: 26px;
    width: 110px;
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    height: 60px;
    background-color: #6c2c1c;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 660px;
}

.footer__copyright-text {
    font-size: 1.3rem;
    line-height: 3;
    color: #af8a82;
}

.footer__copyright-span {
    font-family: "MuliBold";
    font-size: 1.6rem;
    font-weight: bold;
    line-height: 3;
    color: white;
    padding: 0 156px 0 6px;
    position: relative;
}

.footer__btn {
    height: 50px;
    width: 50px;
    background-color: #f2662f;
    position: fixed;
    bottom: 14px;
    right: 80px;
    border-radius: 5px;
    z-index: 999;
}

.footer__btn-arrow-top {
    background-size: cover;
    width: 20%;
}

/* media queries */
@media screen and (max-width: 1599.98px) {
    .header {
        height: 100vh;
    }

    .header__navigation {
        display: none;
        position: fixed;
        background-color: #0aa566;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 9999;
        flex-direction: column-reverse;
        justify-content: flex-end;
        padding-top: 150px;
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .nav__list li {
        margin: 0 0 50px;
    }

    .header__right-block {
        margin-bottom: 80px;
    }

    .header__burger-btn {
        position: fixed;
        top: 30px;
        right: 30px;
        display: block;
        z-index: 9999;
        background-color: #0aa566;
        border-radius: 20px;
    }

    .about {
        gap: 0;
        flex-direction: column;
        align-items: center;
    }

    .about__btn {
        width: 400px;
    }

    .products__title {
        font-size: 36px;
        line-height: 1.2;
    }
}

@media screen and (max-width: 1399.98px) {
    .products__img {
        padding-top: 100px;
    }

    .products__text {
        padding-bottom: 20px;
    }

    .blog__img-inner {
        width: 300px;
        height: 400px;
        overflow: hidden;
    }

    .blog__info {
        padding-left: 15px;
    }

    .blog__info::after {
        display: none;
    }

    .story__container {
        max-width: 100%;
        padding: 0 20px;
    }

    .footer__information {
        padding-left: 0px;
    }
}

@media screen and (max-width: 1199.98px) {

    html,
    body {
        font-size: 12px;
    }

    .table__list {
        width: 500px;
        padding: 0px;
        margin-top: 15px;
    }

    .table__list-item {
        width: 125px;
        height: 150px;
    }

    .table__list-img {
        padding-top: 0px;
    }

    .table__list-span {
        font-size: 1.5rem;
        line-height: 30px;
        padding: 5px 0 5px;
    }

    .about__box-image {
        justify-content: center;
    }

    .about__img {
        width: 400px;
        padding: 0;
    }

    .about__box-list {
        margin-top: 20px;
    }

    .products {
        overflow-x: auto;
        overflow-y: hidden;
    }

    .products__item {
        flex: 0 0 66%;
    }

    .products__img {
        width: 120px;
    }

    .about__container {
        justify-content: center;
        margin: 0px;
        padding-right: 500px;
    }

    .info__title--span::after {
        display: none;
    }

    .info__list {
        padding: 40px 0 20px 16px;
    }

    .info-btn {
        width: 500px;
        height: 80px;
    }

    .story__container {
        max-width: 800px;
        gap: 60px;
        margin-left: 30px;
    }

    .story__inner-img {
        width: 350px;
        height: 450px;
    }

    .story__inner-img::before {
        display: none;
    }

    .testimonials::after {
        display: none;
    }

    .testimonials__wrapper::before {
        display: none;
    }

    .instagram__gallery {
        overflow: auto;
        overflow-y: hidden;
    }

    .instagram__img-inner {
        flex: 1 0 70%;
    }

    .instagram__social-link::after {
        top: 12px;
        right: 230px;
    }

    .footer__top {
        align-items: start;
        padding: 20px;
        flex-wrap: wrap;
    }

    .footer__title {
        padding-bottom: 0px;
    }

    .footer__logo {
        transform: translateY(35%);
        padding: 0 20px;
    }

    .footer__information {
        padding-bottom: 0px;
    }

    .footer__social-span::before {
        right: 150px;
    }

    .footer__payment {
        width: 220px;
    }

    .footer__social-wrap {
        display: none;
    }

    .footer__copyright {
        justify-content: space-around;
        gap: 0px;
    }
}

@media screen and (max-width: 991.98px) {
    .story__title {
        font-size: 7rem;
    }

    .story__text {
        font-size: 2.5rem;
    }

    .story__btn {
        width: 500px;
        height: 100px;
        border-radius: 50px;
        font-size: 3rem;
        padding-left: 50px;
    }

    .story__inner-img {
        display: none;
    }

    .blog__title {
        font-size: 7rem;
    }

    .blog__container {
        padding: 20px;
    }

    .blog__wrapper {
        padding-right: 10px;
    }

    .blog__img-inner {
        display: none;
    }

    .blog__info-title {
        font-size: 4rem;
        padding-top: 20px;
        line-height: 1.1;
    }

    .blog__info-text {
        width: 100%;
        line-height: 1.3;
        padding-top: 5px;
    }

    .blog__info time,
    .blog__info p {
        font-size: 2.5rem;
    }

    .blog__link-arrow img {
        height: 12px;
        width: 24px;
        margin: 0 20px;
    }

}

@media screen and (max-width: 767.98px) {
    .article__title {
        margin-top: 50px;
    }

    .article__text {
        line-height: 1.6;
    }

    .about__box-image {
        display: none;
    }

    .about__box-list {
        margin: 20px;
    }

    .title--white {
        width: auto;
    }

    .title--yellow::after {
        display: none;
    }

    .products__img {
        width: 80px;
    }

    .testimonials__container {
        padding: 0 20px;
    }

    .testimonials__wrapper {
        gap: 15px;
    }

    .testimonials__title {
        font-size: 7rem;
        line-height: 1.1;
        padding: 50px 0;
    }

    .testimonials__text {
        font-size: 2.3rem;
        line-height: 1.2;
    }

    .testimonials__btn {
        width: 30px;
    }

    .testimonials__btn img {
        width: inherit;
    }

    .footer__top {
        padding: 5px;
    }

    .footer__logo {
        transform: translateY(250%);
        padding: 0 5px;
    }

    .footer__logo-img {
        width: 100px;
    }

    .footer__copyright-span {
        padding: 0;
    }

    .footer__btn {
        bottom: 40px;
        right: 20px;
    }
}

@media screen and (max-width: 575.98px) {
    .header__right-block {
        flex-direction: column;
        gap: 50px;
    }

    .header__personal::after {
        display: none;
    }

    .social__list {
        column-gap: 25px;
    }

    .smoothies {
        height: auto;
    }

    .smoothies__table {
        display: none;
    }

    .title--white {
        font-size: 3.5rem;
    }

    .about__btn {
        width: 300px;
    }

    .story {
        height: 100vh;
    }

    .story__container {
        margin: 0;
    }

    .story__title {
        font-size: 5rem;
    }

    .story {
        height: auto;
    }

    .story__container {
        height: auto;
    }

    .story__text {
        padding: 20px;
        line-height: 1.6;
    }

    .story__btn {
        font-size: 2.8rem;
        width: 300px;
        padding-left: 10px;
    }

    .testimonials {
        height: auto;
        padding-bottom: 50px;
    }

    .testimonials__img {
        display: none;
    }

    .testimonials__title {
        padding: 20px 0;
        font-size: 5rem;
        font-size: ;
    }

    .testimonials__wrapper {
        margin-bottom: 40px;
    }

    .testimonials__inner-text {
        height: auto;
        padding-top: 0;
    }

    .blog {
        height: auto;
        padding-top: 20px;
    }

    .blog__container {
        height: auto;
    }

    .footer__top {
        height: auto;
        flex-direction: column-reverse;
        padding: 30px;
    }

    .footer__logo {
        transform: translateX(-10%);
        align-self: center;
        padding-top: 20px;
    }

    .footer__payment {
        padding: 30px 0;
    }

    .footer__subscribe {
        width: 300px;
        height: 50px;
        border-radius: 20px;
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 359.98px) {}